.carousel .carousel-caption {
    bottom: 50%;
    transform: translateY(50%);
    padding: 60px 50px;
    /* background: rgba(235, 235, 235, 0.85); */
    border-radius: 20px;
    z-index: 3;
}

.carousel-indicators [data-bs-target] {
    height: 6px;
    background: #2e8b57 padding-box;
    opacity: 1;
}

.carousel-indicators [aria-current="true"] {
    background: #999999 padding-box;
}

.carousel-control-next,
.carousel-control-prev {
    width: 3%;
    opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    transition: 0.5s;
}

.carousel-control-prev-icon {
    background-image: url('images/arrow-prev.webp');
}

.carousel-control-prev-icon:hover {
    background-image: url('images/arrow-prev-hover.webp');
}

.carousel-control-next-icon {
    background-image: url('images/arrow-next.webp');
}

.carousel-control-next-icon:hover {
    background-image: url('images/arrow-next-hover.webp');
}

.carousel-caption .slider-header {
    font-size: 40px;
    margin-bottom: 20px;
    color: rgb(0, 0, 0);
    font-weight: bolder;
}

.carousel-caption .slider-description {
    font-size: 20px;
    line-height: 1.3;
    color: rgb(0, 0, 0);
    font-weight: 700;
}

.carousel-caption .btn {
    margin-top: 20px;
}

.carousel-item::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.85);
}